.palette {
  flex: 1 100%;
  background-color: white;
  z-index: 1100;
  padding: 24px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.18);
}

@media all and (min-width: 1280px) {
  .palette {
    order: 2;
    flex: 0 33%;
  }
}

.palette__title {
  margin: 10px 0 28px;
}

.palette__table {
  width: 100%;
}

.palette__table__th {
  background-color: #F7F7F7;
  color: #7F7F7F;
}

.palette__table__td,
.palette__table__th {
  border-style: solid;
  border-color: #E9E9E9;
  border-width: 1px 0 1px 0;
  padding: 15px;
  font-weight: 400;
}

.palette__table__td:first-child,
.palette__table__th:first-child {
  border-left-width: 1px;
}
.palette__table__td:last-child,
.palette__table__th:last-child {
  border-right-width: 1px;
}

.palette__table__tr .palette__table__th:first-child,
.palette__table__tr:first-child .palette__table__td:first-child {
  border-top-left-radius: 2px;
}
.palette__table__tr .palette__table__th:last-child,
.palette__table__tr:first-child .palette__table__td:last-child {
  border-top-right-radius: 2px;
}
.palette__table_with-head .palette__table__tr:first-child .palette__table__td:first-child {
  border-top-left-radius: 0;
}
.palette__table_with-head .palette__table__tr:first-child .palette__table__td:last-child {
  border-top-right-radius: 0;
}
.palette__table__tr:last-child .palette__table__td:first-child {
  border-bottom-left-radius: 2px;
}
.palette__table__tr:last-child .palette__table__td:last-child {
  border-bottom-right-radius: 2px;
}

.palette__table__td_text-white {
  color: white;
}
.palette__table__td_text-black {
  color: black;
}
